<div *ngIf="!usuarioLogueado">
  <h2>Iniciar Sesión</h2>

  <input type="text" [(ngModel)]="loginNombre" placeholder="Nombre">
  <input type="password" [(ngModel)]="loginPassword" placeholder="Password">
  <button (click)="iniciarSesion()">Ingresar</button>

  <p *ngIf="mensajeLogin">{{ mensajeLogin }}</p>
</div>

<div *ngIf="usuarioLogueado">
  <h2>Bienvenido {{ usuarioLogueado.nombre }}</h2>
  <p>Rol actual: {{ usuarioLogueado.rol }}</p>
  <button (click)="cerrarSesion()">Cerrar sesión</button>

  <hr>

  <div *ngIf="esAdmin()">
    <app-usuarios></app-usuarios>
    <hr>
  </div>

  <div *ngIf="esAdmin() || esEmpleado()">
    <app-clientes></app-clientes>
    <hr>
    <app-prestamos></app-prestamos>
  </div>
</div>
