<div *ngIf="!usuarioLogueado" style="text-align: center; margin-top: 60px;">
  <h1>PrestaFácil</h1>
  <h2>Iniciar Sesión</h2>

  <input
    [(ngModel)]="loginNombre"
    placeholder="Nombre"
    style="padding: 10px; margin: 10px; width: 220px;"
  />

  <input
    [(ngModel)]="loginPassword"
    type="password"
    placeholder="Contraseña"
    style="padding: 10px; margin: 10px; width: 220px;"
  />

  <br />

  <button (click)="login()" style="padding: 10px 20px; margin-top: 10px;">
    Ingresar
  </button>
</div>

<div *ngIf="usuarioLogueado" style="margin-top: 20px;">
  <div style="text-align: center; margin-bottom: 20px;">
    <h2>Bienvenido {{ usuarioLogueado.nombre }}</h2>
    <p>Rol actual: {{ usuarioLogueado.rol }}</p>
    <button (click)="logout()">Cerrar sesión</button>
  </div>

  <div *ngIf="esAdmin()">
    <app-usuarios></app-usuarios>
    <hr>
  </div>

  <div *ngIf="esAdmin() || esEmpleado()">
    <app-clientes></app-clientes>
  </div>
</div>

