<h1 style="text-align: center;">Usuarios</h1>

<!-- FORMULARIO CREAR -->
<div style="text-align: center; margin-bottom: 20px;">

  <input [(ngModel)]="nombre" placeholder="Nombre">
  <input [(ngModel)]="password" placeholder="Password">
  <input [(ngModel)]="rol" placeholder="Rol">

  <button (click)="crearUsuario()">Crear</button>

</div>

<!-- TABLA -->
<table border="1" style="margin: auto;">

  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Rol</th>
    <th>Acciones</th>
  </tr>

  <tr *ngFor="let u of usuarios">
    <td>{{u.id}}</td>
    <td>{{u.nombre}}</td>
    <td>{{u.rol}}</td>

    <td>
      <button (click)="seleccionarUsuario(u)">Editar</button>
      <button (click)="eliminarUsuario(u.id)">Eliminar</button>
    </td>
  </tr>

</table>

<!-- FORMULARIO EDITAR -->
<div *ngIf="usuarioSeleccionado" style="text-align: center; margin-top: 20px;">

  <h3>Editar Usuario</h3>

  <input [(ngModel)]="usuarioSeleccionado.nombre" placeholder="Nombre">
  <input [(ngModel)]="usuarioSeleccionado.password" placeholder="Password">
  <input [(ngModel)]="usuarioSeleccionado.rol" placeholder="Rol">

  <br><br>

  <button (click)="actualizarUsuario()">Guardar</button>
  <button (click)="cancelarEdicion()">Cancelar</button>

</div>
