<h2 style="text-align: center;">Usuarios</h2>

<div style="text-align: center; margin-bottom: 20px;">
  <input [(ngModel)]="nuevoUsuario.nombre" placeholder="Nombre" style="padding: 8px; margin-right: 10px;" />
  <input [(ngModel)]="nuevoUsuario.password" placeholder="Password" style="padding: 8px; margin-right: 10px;" />

  <select [(ngModel)]="nuevoUsuario.rol" style="padding: 8px; margin-right: 10px;">
    <option value="">Seleccione rol</option>
    <option value="administrador">Administrador</option>
    <option value="empleado">Empleado</option>
  </select>

  <button (click)="crearUsuario()" style="padding: 8px 14px;">Crear Usuario</button>
</div>

<table border="1" style="margin: auto; border-collapse: collapse; min-width: 700px;">
  <tr>
    <th style="padding: 10px;">ID</th>
    <th style="padding: 10px;">Nombre</th>
    <th style="padding: 10px;">Rol</th>
    <th style="padding: 10px;">Acciones</th>
  </tr>

  <tr *ngFor="let u of usuarios">
    <td style="padding: 10px;">{{ u.id }}</td>
    <td style="padding: 10px;">{{ u.nombre }}</td>
    <td style="padding: 10px;">{{ u.rol }}</td>
    <td style="padding: 10px;">
      <button (click)="seleccionarUsuario(u)" style="margin-right: 5px;">Editar</button>
      <button (click)="eliminarUsuario(u.id!)">Eliminar</button>
    </td>
  </tr>
</table>

<div *ngIf="usuarioSeleccionado" style="text-align: center; margin-top: 30px;">
  <h3>Editar Usuario</h3>

  <input [(ngModel)]="usuarioSeleccionado.nombre" placeholder="Nombre" style="padding: 8px; margin-right: 10px;" />
  <input [(ngModel)]="usuarioSeleccionado.password" placeholder="Password" style="padding: 8px; margin-right: 10px;" />

  <select [(ngModel)]="usuarioSeleccionado.rol" style="padding: 8px; margin-right: 10px;">
    <option value="administrador">Administrador</option>
    <option value="empleado">Empleado</option>
  </select>

  <br /><br />

  <button (click)="actualizarUsuario()" style="padding: 8px 14px; margin-right: 10px;">Actualizar</button>
  <button (click)="cancelarEdicionUsuario()" style="padding: 8px 14px;">Cancelar</button>
</div>
